<table>
  <thead>
    <th>Title</th>
    <th>Description</th>
    <th>Actions</th>
    </thead>
        <%= @articles.each do |article| %>
          <tr>
            <td>
              <%= article.title %>
            </td>
            <td> 
              <%= article.description %>
            </td>
            <td>
              placeholder
            </td>
          </tr>
        <% end %>
    </thead>
  </table>
